@page "/register"

@inject IAccountsRepository accountsRepository
@inject NavigationManager navigationManager
@inject ILoginService loginService
@inject IInviteRepository inviteService



@using L00161840BlazorProject.Client.Auth

@if (invite != null)
{
    <h3>Register</h3>

    <EditForm Model="userInfo" OnValidSubmit="CreateUser">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label>Username:</label>
            <div>
                <InputText class="form-control" @bind-Value="@userInfo.UserName" />
                <ValidationMessage For="@(() => userInfo.UserName)" />
            </div>
        </div>
        <div class="form-group">
            <label>Email:</label>
            <div>
                <InputText class="form-control" @bind-Value="@userInfo.Email" />
                <ValidationMessage For="@(() => userInfo.Email)" />
            </div>
        </div>

        <div class="form-group">
            <label>Password:</label>
            <div>
                <InputPassword class="form-control" @bind-Value="@userInfo.Password" />
                <ValidationMessage For="@(() => userInfo.Password)" />
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>

    </EditForm>
}
else
{
    <h3>@pageMessage</h3>
}

@code {
    private UserInfo userInfo = new UserInfo();
    private Invite invite = null;
    private string pageMessage = "Validating...";
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var dict = navigationManager.GetQueryStrings(navigationManager.Uri);
            if (dict != null)
            {
                var inviteReference = dict.Where(x => x.Key == "InviteReference")?.FirstOrDefault().Value;

                if (inviteReference != null)
                {
                    invite = await inviteService.GetInviteFromReference(inviteReference);
                    userInfo.Email = invite.Email;
                    userInfo.IsAdmin = invite.IsAdmin;
                    userInfo.EmployeeId = invite.EmployeeId;
                }
            }
        }
        catch
        {
            pageMessage = "Invite Reference is invalid! Please contact your administrator";
        }


    }

    
    private async Task CreateUser()
    {

        var userToken = await accountsRepository.Register(userInfo);
        await loginService.Login(userToken);
        navigationManager.NavigateTo("");
    }
}
