@page "/payroll/view/{PayPeriodId:int}"
@inject ICompanyRepository companyRepository
@inject NotificationService notificationService
@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "Admin")]
<h3>Payroll Summary<br /><br /></h3>
@if (@PayrollSummaryDTO != null)
{
    <h4>Group: @PayrollSummaryDTO.PayGroupName</h4>
    <h4>Frequency: @PayrollSummaryDTO.PayPeriod.ToString()</h4>
    <h4>Pay Date: @PayrollSummaryDTO.PayDate.ToString("dd/MM/yyyy")</h4>
    <h4 style="margin-bottom: 48px">Tax Year: @PayrollSummaryDTO.TaxYear&nbsp;&nbsp;Tax Period: @PayrollSummaryDTO.TaxPeriod</h4>
    <div>
        <RadzenDataGrid AllowColumnResize="true" ColumnWidth="150px" AllowFiltering="true" AllowPaging="true" PageSize="25" AllowSorting="true" Data="@PayrollSummaryDTO.Rows" TItem="PayrollSummaryDTO.Row" Style="margin-bottom: 30px; width: calc(100vw - 310px); height: calc(100vh - 330px); ">
            <Columns>
                <RadzenDataGridColumn TItem="PayrollSummaryDTO.Row" Filterable="false" Sortable="false" Frozen="true">
                    <Template Context="data">
                        <a href="/payroll/payslip/@data.PayDataId" class="btn btn-success">View Payslip</a>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="PayrollSummaryDTO.Row" Property="PayrollReference" Title="Payroll Reference" Frozen="true">
                    <FooterTemplate>
                        Count Employees: <b>@PayrollSummaryDTO.Rows.Count()</b>
                    </FooterTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="PayrollSummaryDTO.Row" Property="EmployeeName" Title="Employee Name" Frozen="true" />
                <RadzenDataGridColumn TItem="PayrollSummaryDTO.Row" Property="PPSN" Title="PPSN" />
                <RadzenDataGridColumn TItem="PayrollSummaryDTO.Row" Property="Gross" Title="Gross">
                    <Template Context="data">
                        @data.Gross.ToEuro()
                    </Template>
                    <FooterTemplate>
                        <b>@PayrollSummaryDTO.Rows.Sum(x => x.Gross).ToEuro()</b>
                    </FooterTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="PayrollSummaryDTO.Row" Property="BasicHours" Title="Basic Hours">
                    <Template Context="data">
                        @data.BasicHours.ToString("#,##0.00")
                    </Template>
                    <FooterTemplate>
                        <b>@PayrollSummaryDTO.Rows.Sum(x => x.BasicHours).ToString("#,##0.00")</b>
                    </FooterTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="PayrollSummaryDTO.Row" Property="BasicRate" Title="Basic Rate">
                    <Template Context="data">
                        @data.BasicRate.ToEuro()
                    </Template>
                </RadzenDataGridColumn>

                @foreach (var item in PayrollSummaryDTO.Payments)
                {
                    <RadzenDataGridColumn TItem="PayrollSummaryDTO.Row" Title="@item.Name">
                        <Template Context="data">
                            @((data.PayslipItems.Where(x => x.PayItemId == item.Id).FirstOrDefault()?.Amount ?? 0.0).ToEuro())
                        </Template>
                        <FooterTemplate>
                            <b>@((PayrollSummaryDTO.Rows.Sum(x=>x.PayslipItems.Where(y => y.PayItemId == item.Id).FirstOrDefault()?.Amount ?? 0.0)).ToEuro())</b>
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                }
                <RadzenDataGridColumn TItem="PayrollSummaryDTO.Row" Property="PAYE" Title="PAYE">
                    <Template Context="data">
                        @data.PAYE.ToEuro()
                    </Template>
                    <FooterTemplate>
                        <b>@PayrollSummaryDTO.Rows.Sum(x => x.PAYE).ToEuro()</b>
                    </FooterTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="PayrollSummaryDTO.Row" Property="USC" Title="USC">
                    <Template Context="data">
                        @data.USC.ToEuro()
                    </Template>
                    <FooterTemplate>
                        <b>@PayrollSummaryDTO.Rows.Sum(x => x.USC).ToEuro()</b>
                    </FooterTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="PayrollSummaryDTO.Row" Property="EEPRSI" Title="EE PRSI">
                    <Template Context="data">
                        @data.EEPRSI.ToEuro()
                    </Template>
                    <FooterTemplate>
                        <b>@PayrollSummaryDTO.Rows.Sum(x => x.EEPRSI).ToEuro()</b>
                    </FooterTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="PayrollSummaryDTO.Row" Property="LPT" Title="LPT">
                    <Template Context="data">
                        @data.LPT.ToEuro()
                    </Template>
                    <FooterTemplate>
                        <b>@PayrollSummaryDTO.Rows.Sum(x => x.LPT).ToEuro()</b>
                    </FooterTemplate>
                </RadzenDataGridColumn>

                @foreach (var item in PayrollSummaryDTO.Deductions)
                {
                    <RadzenDataGridColumn TItem="PayrollSummaryDTO.Row" Title="@item.Name">
                        <Template Context="data">
                            @((0.0-(data.PayslipItems.Where(x => x.PayItemId == item.Id).FirstOrDefault()?.Amount ?? 0.0)).ToEuro())
                        </Template>
                        <FooterTemplate>
                            <b>@((0.0-(PayrollSummaryDTO.Rows.Sum(x=>x.PayslipItems.Where(y => y.PayItemId == item.Id).FirstOrDefault()?.Amount ?? 0.0))).ToEuro())</b>
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                }


                <RadzenDataGridColumn TItem="PayrollSummaryDTO.Row" Property="Net" Title="Net">
                    <Template Context="data">
                        @data.Net.ToEuro()
                    </Template>
                    <FooterTemplate>
                        <b>@PayrollSummaryDTO.Rows.Sum(x => x.Net).ToEuro()</b>
                    </FooterTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="PayrollSummaryDTO.Row" Property="ERPRSI" Title="ER PRSI">
                    <Template Context="data">
                        @data.ERPRSI.ToEuro()
                    </Template>
                    <FooterTemplate>
                        <b>@PayrollSummaryDTO.Rows.Sum(x => x.ERPRSI).ToEuro()</b>
                    </FooterTemplate>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
}
@code {
    [Parameter] public int PayPeriodId { get; set; }
    PayrollSummaryDTO PayrollSummaryDTO;

    protected override async Task OnInitializedAsync()
    {
        PayrollSummaryDTO = await companyRepository.GetPayrollSummary(PayPeriodId);
        if (PayrollSummaryDTO == null)
        {
            notificationService.Notify(NotificationSeverity.Error, "Error", $"Payroll summary Id {PayPeriodId} cannot be found.",10000);
            navigationManager.NavigateTo("/payroll/overview");
        }
    }

}
