@page "/payroll/overview"
@inject ICompanyRepository companyRepository


@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "Admin")]
<h3>Payroll Overview</h3>
<RadzenDataGrid ColumnWidth="150px" AllowFiltering="true" AllowPaging="true" PageSize="25" AllowSorting="true" Data="@PayrollOverviews" TItem="PayrollOverviewDTO">
    <Columns>
        <RadzenDataGridColumn TItem="PayrollOverviewDTO" Filterable="false" Sortable="false">
            <Template Context="data">
                <a href="/payroll/view/@data.PayPeriodId" class="btn btn-success">View</a>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="PayrollOverviewDTO" Property="PayGroupName" Title="Pay Group" />
        <RadzenDataGridColumn TItem="PayrollOverviewDTO" Property="PayPeriod" Title="Pay Period">
            <Template Context="data">
                @data.PayPeriod.ToString()
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="PayrollOverviewDTO" Property="PayDate" Title="Pay Date">
            <Template Context="data">
                @data.PayDate.ToString("dd/MM/yyyy")
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="PayrollOverviewDTO" Property="TaxYear" Title="Tax Year" />
        <RadzenDataGridColumn TItem="PayrollOverviewDTO" Property="TaxPeriod" Title="Tax Period" />
        <RadzenDataGridColumn TItem="PayrollOverviewDTO" Property="TotalGross" Title="Total Gross">
            <Template Context="data">
                @data.TotalGross.ToEuro()
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="PayrollOverviewDTO" Property="TotalNet" Title="Total Net">
            <Template Context="data">
                @data.TotalNet.ToEuro()
            </Template>
        </RadzenDataGridColumn>

    </Columns>
</RadzenDataGrid>

@code {
    List<PayrollOverviewDTO> PayrollOverviews;
    protected override async Task OnInitializedAsync()
    {
        PayrollOverviews = await companyRepository.GetPayrollOverivew();
    }

}
